
  <article>
      {{#each article}}
        {{#if this.published}}
        <div class="articleprint">
          <h1> {{this.title}} </h1>
          <p>{{{this.body}}}</p>
          <p>Ecrit par : {{this.author}}</p>
          <p>Date de publication : {{formatDate this.date "MM-DD-YYYY"}}</p>
        </div>
        {{/if}}
      {{/each}}
  </article>
