<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>

    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/font.css" />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/menuDeroulant.css" />
    <link rel="stylesheet" href="/css/tags.css" />
    <link rel="stylesheet" href="/css/signUp.css" />
    <link rel="stylesheet" href="/css/logIn.css" />
    <link rel="stylesheet" href="/css/newArticle.css" />
    <link rel="stylesheet" href="/css/article.css" />
    <link rel="stylesheet" href="/css/listArticles.css" />
    <script src="/js/ajax.js"></script>
    <script src="/js/article.js"></script>
    <script src="/js/divers.js"></script>

    <link rel="shortcut icon" type="image/png" href="/images/logo_owl/Owl_logo_white.png" />

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.0.13/css/all.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/js/all.min.js"></script>

 </head>
 <body>
   <header>
     <img src="/images/logo_owl/Owl_logo_white.png" alt="Owl_logo" title="Owl_logo" class="logo">
     <h1>
       GreenSentinel
     </h1>
 		<ul id="menu-deroulant">
 			<li><a href="/index">Accueil</a></li>
      <li><a href="/articlesTest">Articles</a></li>
        {{# if user}}
          {{# if user.admin}}
          <li><a href="/newArticle">Proposer un article</a></li>
          {{/if}}
        {{/if}}
      <li><a href="/tags">Tags</a></li>
      </ul>
<!--
     	<div class="search">
     		<label for="first">   <i class="fas fa-search"></i>  </label><input name="first" id="first">
     	</div> -->

      {{# if user}}
        <ul id="connexion">
          <li><a href="/profil">{{user.pseudo}}</a></li>
          <li id="logout"><a href=#>Déconnexion</a></li>
          <script src="/js/logOut.js"></script>
        </ul>
      {{ else }}
        <ul id="connexion">
          <li><a href="/logIn">Se connecter</a></li>
          <li><a href="/signUp">S'inscrire</a></li>
        </ul>
      {{/if}}

    </header>
    <div class="cache">

    </div>
    {{{ body }}}

    <footer>
      <div class="contact">
        <h1>CONTACT</h1>
        <div style="justify-content:center;">
          <a href="tel:+33642337740"><h2><i class="fas fa-envelope"></i> 06 42 33 77 40</h2></a>
          <a href="mailto:contact@GreenSentinel.com"><h2><i class="fas fa-phone"></i> contact@GreenSentinel.com</h2></a>
        </div>
      </div>
      <div class="Networks">
        <div id="Facebook" class="logobrand"></div>
        <div id="Twitter" class="logobrand"></div>
        <div id="Linkedin" class="logobrand"></div>
        <div id="Instagram" class="logobrand"></div>
      </div>
      <div class="more">
        <h1>EN PLUS</h1>
        <ul>
          <li>Conditions générales d'utilisation</li>
          <li>Politique de Protection des données personnelles</li>
        </ul>
      </div>
    </footer>

  </body>
</html>
