
<body>
		<!-- <img src="/images/fond_arbre7.png" alt="abre" class="horizontal"/> -->
		<div class="banner">
			Notre objectif : vous aidez dans vos transitions écologiques
		</div>
  		<article>

			{{# if user}}
				<p class="text"> Bonjour {{user.firstName}} ! Que cherchez-vous aujourd'hui ? </p>
			{{/if}}

			<p class="text">Bienvenue sur notre site de <strong>transitions écologiques</strong> </p>

			</div>
  	</article>
</body>
