<body>
  <article class="logIn">
    <div class="connect">
      <h1>Connexion</h1>
      <form class="LoginForm" >
        <label for="mail">Adresse mail</label><input name="mail" id="mail">
        <br>
        <label for="password1">Mot de passe</label><input type="password" name="password" id="password">
        <br>
        <div class="center">
          <input type="submit" value="ENVOYER" >
        </div>
      </form>
      <p>Pas encore inscrit ? <a href='/signUp'> Inscrivez-vous</a> en moins de 2 mminutes</p>
    </div>
  </article>
  <script src="js/logIn.js"></script>
</body>
