<article class="newArticle">
  <div class="formArticle">

    <h1>Votre nouvel article</h1>

    <p>Remplissez les informations ci-dessous pour enregistrer votre article:</p>

    <form class="articleForm" >
      <label for="title">Titre de l'article : </label><input type="text" name="title" id="title">

      <div class="article">
        <div id="buttons">
          <input type="button" id="button_bold" value="G" class="button" style="font-weight: bold;" onclick="commande('bold');" OnMouseOver="btn_on(this);" OnMouseOut="btn_off(this), tester()" />
          <input type="button" id="button_italic" value="I" class="button" style="font-style: italic;" onclick="commande('italic');"  OnMouseOver="btn_on(this);" OnMouseOut="btn_off(this) , tester()"/>
          <input type="button" id="button_underline" value="S" class="button" style="text-decoration: underline;" onclick="commande('underline');"  OnMouseOver="btn_on(this);" OnMouseOut="btn_off(this)"/>
          <input type="button" value="Lien" class="button" onclick="commande('createLink');"  OnMouseOver="btn_on(this);" OnMouseOut="btn_off(this)"/>
          <input type="button" value="Image" class="button" onclick="commande('insertImage');"  OnMouseOver="btn_on(this);" OnMouseOut="btn_off(this)"/>
          <select onchange="commande('formatBlock', this.value); this.selectedIndex = 0;" class="button"  OnMouseOver="btn_on(this);" OnMouseOut="btn_off(this)">
            <option value="">Titre</option>
            <option value="h1">Titre 1</option>
            <option value="h2">Titre 2</option>
            <option value="h3">Titre 3</option>
            <option value="h4">Titre 4</option>
            <option value="h5">Titre 5</option>
            <option value="h6">Titre 6</option>
          </select>
        </div>
      <div id="editeur" contentEditable="true" onclick="tester()" onkeydown="tester()" name="editeur" ></div>
      <div class="tags">
        <label for="resume">Tags : </label>
        <input id="tags" name="tags">
      </div>
      <label for="resume">Résumé : </label><input type="text" name="resume" id="resume">
      <br>
      <input type="submit" value="Envoyer" id="submit" >
    </div>
  </form>
  </div>

</article>
<script src="js/newArticle.js"></script>
