<article>
	<h1>{{ title }}</h1>
	<hr>
 	{{#each listTags}}
		<div class="Andy row">
			{{#each this.list}}
			<a href="/tags/{{this}}">
				<div class="capsule box">
						{{this}}
				</div>
			</a>
			{{/each}}
		</div>
	{{/each}}
</article>
