.connect{
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items:center;
  color: #3F5F5C;
  border:1px solid #83A299;
  border-radius:5px;
  height: 60%;
  width: 60%;
  box-shadow:1px 1px 2px #C0C0C0;
  padding: 10px;
  line-height: 20px;
}

.logIn {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  align-items:center;
  color: #6E3E28;
  background-image: url("../images/photo/fond_arbre_grand.jpg");
  background-size: cover;
}


.logIn h1{
  align-self: center;
  color: inherit;
  font-family: "adventpro-medium";
}

.center{
  display: flex;
  justify-content: space-around;
}

.logIn form{
  display: flex;
  flex-direction: column;
  width: 80%;
  justify-content: space-around;
  height: 40%;
}

.logIn a{
  color : inherit;
}

input, select {
 padding:3px;
 border:none;
 border-bottom: 0.5px solid grey;
 box-shadow: none;
 border-radius:0px;
 width: 100%;
 }

 input[type = submit]{
   padding:3px;
   border:none;
   color: white;
   font-size: 2em;
   border-radius:2px;
   box-shadow:1px 1px 2px #C0C0C0;
   background-color:#3F5F5C ;
   text-align: center;
   align-items: center;
   width: 40%;
   transition: all 0.3s 15ms;
   cursor: pointer;
 }

 input[type = submit]:hover{
   box-shadow: 0px 4px 5px #C0C0C0, 1px 0px 2px #C0C0C0, -1px 0px 2px #C0C0C0;
   border-bottom: none;
 }

 input:focus, textarea:focus, select:focus {
  outline: none;
  border: none;
  border-bottom: 2px solid #83A299;
 }

 input:hover, textarea:hover, select:hover {
   outline: none;
   border: none;
   border-bottom: 2px solid #83A299;
 }
